.menu-item, .nav-link{
    height: 50px;
    position: relative;
}

.menu-item::before {
    content: "";
    position: absolute;
    top: -8px;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #f07c29;
    -webkit-transition: all 0.25s;
    -moz-transition: all 0.25s;
    -o-transition: all 0.25s;
    transition: all 0.25s linear;
    opacity: 0;
    filter: alpha(opacity=0);
    visibility: hidden;
    z-index: 1;
}
.menu-item:hover::after{
    opacity: 1;
    visibility: visible;
}
.menu-item:hover::before{
    opacity: 1;
    visibility: visible;
}
.menu-item::after{
    content: "";
    border-left: 4px solid #b9520a;
    border-bottom: 4px solid #b9520a;
    border-top: 4px solid transparent;
    border-right: 4px solid transparent;
    position: absolute;
    top: -8px;
    -webkit-transition: all 0.25s;
    -moz-transition: all 0.25s;
    -o-transition: all 0.25s;
    transition: all 0.25s linear;
    left: 100%;
    opacity: 0;
    filter: alpha(opacity=0);
    visibility: hidden;
}

.menu-item:hover .spanhover{
    width: 150px;
}

.menu-item a{
    display: block;
    position: absolute;
    z-index: 100;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    text-transform: uppercase;
}
.menu-item a h5{
    line-height: 50px;
}

.spanhover{
    transition: width linear 0.25s;
    position: absolute;
    bottom: 0;
    height: 3px;
    width: 0px;
    left: 100%;
    background-color: #f07c29;
}

.nav-link{
    height: 50px;
    position: relative;
}

.nav-link::before {
    content: "";
    position: absolute;
    top: -8px;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #f07c29;
    -webkit-transition: all 0.25s;
    -moz-transition: all 0.25s;
    -o-transition: all 0.25s;
    transition: all 0.25s linear;
    opacity: 0;
    filter: alpha(opacity=0);
    visibility: visible;
    z-index: 10;
}

.nav-link::after{
    content: "";
    border-left: 4px solid #b9520a;
    border-bottom: 4px solid #b9520a;
    border-top: 4px solid transparent;
    border-right: 4px solid transparent;
    position: absolute;
    top: -8px;
    -webkit-transition: all 0.25s;
    -moz-transition: all 0.25s;
    -o-transition: all 0.25s;
    transition: all 0.25s linear;
    left: 100%;
    opacity: 1;
    filter: alpha(opacity=0);
    visibility: visible;
}